# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Models
backend/models/

# Logs
*.log

# VS Code
.vscode/

# Node
node_modules/

# Next.js
.next/

# Build
dist/
build/

# OS Files
.DS_Store
Thumbs.db